---
import Layout from "@layouts/Layout.astro";
import { i18n } from "@consts/i18n.files";
import type { Language } from "@src/types/language.type";
import IntroSection from '@components/IntroSection.astro';
import TrajectorySection from '@components/TrajectorySection.astro';
import Projects from "@src/components/Projects.astro";
import AboutMe from "@src/components/AboutMe.astro";

export function getStaticPaths() {
    return [
        { params: { locale: "es-ES" } },
        { params: { locale: "ca-ES" } },
        { params: { locale: "en-GB" } },
        { params: { locale: "ua-UK" } },
    ];
}

const locale = Astro.params.locale as Language;
const translate = i18n[locale];
const creador = translate.creator_name;
---

<Layout title="Yaroslav Klymko">
    <div class="fixed inset-0 z-9000 w-full h-screen backdrop-blur-md hidden animate-fade-in animate-duration-100" id="blurred-area"></div>
    <div class="flex flex-col w-full" id="sections-wrapper" aria-label="Contenedor de las secciones de la página">

        {/* INTRODUCTION SECTION */}
        <section class="relative overflow-hidden min-h-screen w-full dark:bg-slate-950 bg-slate-50 flex flex-col" aria-label="Introduction section" data-skip-nav>
            <div class="about-container-mask absolute inset-0 z-0"></div>
            <div 
                class="-z-10 absolute inset-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] red">
            </div>
            <IntroSection creador={creador} translate={translate} locale={locale} />
        </section>
    
        {/* TRAJECTORY SECTION */}
        <section class="min-h-screen" data-section="trajectory" aria-label="Trajectory section">
            <TrajectorySection creador={creador} translate={translate} locale={locale} />
        </section>

        {/* PROJECTS SECTION */}
        <section class="pt-10 pb-20" data-section="projects" aria-label="Projects section">
            <Projects creador={creador} translate={translate} locale={locale} />
        </section>

        {/* CONTACT SECTION */}
        <section class="mb-60" data-section="about-me" aria-label="About me section">
            <AboutMe creador={creador} translate={translate} locale={locale} />
        </section>
    </div>
</Layout>

{/*
<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            document.getElementById('greetings_iam').classList.remove('invisible');
        }, 500);
    });
</script>
*/}

<style>
    .about-container-mask {
        background: linear-gradient(
            to right,
            #4f4f4f2e 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
        background-size: 40px 40px;
        -webkit-mask-image: radial-gradient(ellipse 60% 70% at 50% 50%, #000 70%, transparent 100%);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: radial-gradient(ellipse 60% 70% at 50% 50%, #000 70%, transparent 100%);
        mask-repeat: no-repeat;
        mask-position: center;
    }

    html:not(.dark) .about-container-mask {
        background: linear-gradient(
            to right,
            #b3b3b32e 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, #b3b3b32e 1px, transparent 1px);
        background-size: 40px 40px;
        -webkit-mask-image: radial-gradient(ellipse 60% 70% at 50% 50%, #000 70%, transparent 100%);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: radial-gradient(ellipse 60% 70% at 50% 50%, #000 70%, transparent 100%);
        mask-repeat: no-repeat;
        mask-position: center;
    }



    .red {
        background-size: 14px 24px;
        -webkit-mask-image: radial-gradient(
            ellipse 60% 70% at 50% 50%,
            #000 70%,
            transparent 100%
        );
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-image: radial-gradient(
            ellipse 60% 70% at 50% 50%,
            #000 70%,
            transparent 100%
        );
        mask-repeat: no-repeat;
        mask-position: center;
    }
</style>
