---
import "@styles/global.css";
import type { Language } from "../types/language.type";
import { idiomas } from "@src/consts/locales";
import es_ES from "@i18n/es-ES";
import ca_ES from "@i18n/ca-ES";
import en_EN from "@i18n/en-EN";
import uk_UA from "@i18n/uk-UA";
import pt_PT from "@i18n/pt-PT";
import fr_FR from "@i18n/fr-FR";
import pl_PL from "@i18n/pl-PL";

const locale = (Astro.params?.locale as Language) || getLocale404(Astro.url.pathname);
const i18n = { "es-ES": es_ES, "ca-ES": ca_ES, "en-EN": en_EN, "uk-UA": uk_UA, "pt-PT": pt_PT, "fr-FR": fr_FR, "pl-PL": pl_PL };
const translate = i18n[locale];

function getLocale404(path: string) {
    const pathParts = path.split('/');
    return idiomas.includes(pathParts[1]) ? pathParts[1] : 'es-ES';

}
---

<!doctype html>
<html lang={`${locale || "es-ES"}`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/yk_round.ico" />

		<title>404 - {translate[404].error_title}</title>
	</head>
	<body class="bg-slate-950 min-h-screen flex flex-col">
        <header class="fixed inset-0 h-(--header-h) p-4 w-full flex items-center justify-start">
            <a href={`/${locale}/`} class="flex justify-center gap-1 items-center flex-row text-white/80 hover:text-white transition-all group hover:bg-gray-800 px-4 py-2 rounded-md">
                <i class="icon-[material-symbols--arrow-left-alt] group-hover:-translate-x-1 transition-transform" />
                <span>
                    {translate[404].go_back}
                </span>
            </a>
        </header>
        <div class="flex justify-center flex-col items-center w-full pt-(--header-h) px-4 md:px-0">
            <div class="flex flex-col justify-center items-center w-full pt-20">
                <h2 class="text-yellow-500 font-extrabold text-5xl animate-fade-in-up">
                    {translate[404].error_code}
                </h2>
                <div class="text-white mt-5 font-bold bg-gray-900 p-4 rounded-2xl">
                    <span class="text-white text-3xl">
                        {translate[404].opps}
                    </span>
                    <span class="block font-normal text-white/70 mt-4">
                        {translate[404].had_trouble}
                    </span>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center w-full py-8">
                <span class="text-blue-700 text-base">
                    {translate[404].consider_is_error}
                </span>
                <div class="w-full justify-center items-center flex flex-col py-3">
                    <a href="mailto:yarosprojects@gmail.com" class="inline-flex gap-2 items-center justify-center px-4 py-2 bg-gray-800 rounded-md hover:rounded-full hover:bg-yellow-500 hover:text-black/70 transition-all outline-none border border-transparent hover:border-yellow-800 hover:font-bold">
                        <i class="icon-[line-md--email-arrow-right]" />
                        {translate[404].contact_me}
                    </a>
                </div>
            </div>
        </div>

        <footer class="flex flex-col w-full mt-auto px-4 py-5">
            <div class="w-full flex justify-center items-center flex-col">
                <span class="text-white/80 text-sm">
                    &copy; {new Date().getFullYear()} Yaroslav Klymko. {translate.all_rights_reserved}
                </span>
            </div>
        </footer>
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
		--header-h: 70px;
	}

	* {
		box-sizing: border-box;
	}
</style>