---
import type { Language } from "../types/language.type";
import { i18n } from "@consts/i18n.files";
import { getNavContent } from "@consts/nav.content";
import { email } from '@consts/usefullData';

const locale = Astro.params.locale as Language;
const translate = i18n[locale];
const navContent = getNavContent(locale);
---
<footer class="flex w-full flex-col px-2 md:px-8 md:opacity-100 opacity-0 md:animate-duration-0 animate-duration-700" aria-label="Pie de la página" id="footer">
    <div class="flex flex-row w-full md:max-w-4xl mx-0 md:mx-auto">
        <section class="w-full max-w-full md:max-w-[1400px] transition-all mx-0 md:mx-auto flex flex-col md:flex-row gap-6 md:gap-12 justify-center md:justify-between items-stretch py-3 md:py-10">
            {/* ABOUT ME - FOOTER */}
            <div class="flex flex-col w-full max-w-[270px] mx-auto md:mx-0 text-center md:text-left py-3 md:py-0" aria-label="Sobre mí">
                <p class="dark:text-white text-black/80 text-base">
                    <span class="dark:text-yellow-100 text-yellow-500">{translate.footer.web_developer}</span> {translate.footer.apasionated} <span class="dark:text-yellow-100 text-yellow-500">{translate.footer.programming}</span> {translate.footer.and} 
                    <span class="dark:text-yellow-100 text-yellow-500">{translate.footer.web_pages_creation}</span> {locale === 'ua-UK' ? '' : translate.footer.and} {translate.footer.ensure_quality_for_clients}
                </p>
            </div>
    
            {/* FAST LINKS */}
            <div class="flex flex-col flex-1 justify-center items-center md:items-start h-full pb-5 md:pb-0" aria-label="Enlaces rápidos de la página">
                <div class="flex flex-col gap-2 w-full translate-x-0 md:-translate-x-15 justify-center items-center py-1" aria-label="Navegación de pie de la página (enlaces rápidos)" id="footer-links">
                    {
                        navContent.map((item) => {
                            const { label } = item;
                            return (
                            <button class="cursor-pointer border-none text-center md:text-left outline-none dark:text-white/55 text-black/55 dark:hover:text-white hover:text-black text-base transition-colors footer-link">
                                { label }
                            </button>
                            )
                        })
                    }
                </div>
            </div>
    
            {/* SOCIAL MEDIA CONTACT */}
            <div class="flex flex-col-reverse md:flex-row flex-wrap gap-2 justify-center md:justify-start w-full md:w-fit md:items-start">
                <a href="https://github.com/yarosprojects?tab=repositories" target="_blank" class="py-3 dark:text-white/80 dark:hover:text-white hover:text-black text-black/80 hover:scale-110 active:scale-90 transition-all mx-auto md:mx-0">
                    <i class="icon-[line-md--github] text-2xl md:text-xl" />
                </a>
                <a href={`mailto:${email}`} class="px-4 py-2 text-[18px] dark:bg-gray-900 bg-gray-100 dark:drop-shadow-none drop-shadow-md drop-shadow-black/20 rounded-full w-fit h-fit transition-all dark:hover:bg-gray-800 hover:bg-gray-200 flex flex-row justify-center items-center gap-1 mx-auto md:mx-0">
                    <span class="dark:text-white text-black text-base">{translate.nav.contact}</span>
                    <i class="icon-[line-md--email] dark:text-white text-black/80 text-base md:text-[18px]" />
                </a>
            </div>
        </section>
    </div>
    {/* COPYRIGHT */}
    <section class="w-full flex flex-col pt-6 md:pt-0" aria-label="Sección de derechos de autor">
        <div class="w-full flex justify-center items-center py-4 px-4 md:px-0">
            <div class="text-[13px] dark:text-white text-black flex w-full justify-center items-center flex-col md:flex-row gap-0 md:gap-1 text-center">
                <span class="dark:text-white/70 text-black/70">
                    &copy; {new Date().getFullYear()} Yaroslav Klymko
                </span>
                <span class="dark:text-white text-black">
                    {translate.all_rights_reserved}
                </span> 
            </div>
        </div>
    </section>  
</footer>


<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const $footer = document.querySelector('#footer');
        obserervar($footer, ['animate-fade-in-up', 'md:animate-none'])
        
        function obserervar(element, className) {
            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach((entry) => {
                    if(entry.isIntersecting) {
                        element.classList.add(...className);

                        observer.unobserve(entry.target);
                    } 
                });
            }, { threshold: 0.1 });

            observer.observe(element);
        }
    });
</script>