---
import FRAMEWORKS from '@consts/frameworks';
import LANGUAGES from '@consts/languages';
import { imageConfig } from "astro:assets";
import avatar from "../../public/img/avatar.png";

const { creador, translate, locale } = Astro.props;
const cfgs_started_at = 2022;

---
<div
    class="flex justify-start pt-15 md:pt-30 items-center flex-col min-h-screen w-full relative z-10"
>
    <div
        class="py-5 md:w-2xl w-full flex flex-col md:flex-row justify-start items-start"
    >
        <img
            src={avatar.src}
            alt="Avatar Yaroslav Klymko"
            class="w-40 mx-auto md:mx-0 h-auto rounded-full animate-fade-in-down"
        />
        <div
            class="flex flex-1 p-4 md:px-8 md:py-15 flex-col items-center md:items-start justify-start w-full h-full"
        >
            <span
                class="dark:text-white text-black text-center md:text-left text-3xl font-extrabold animate-fade-in animate-duration-50"
            >
                {creador}
            </span>
            <div class="my-2 h-px rounded-full w-xs md:w-full dark:bg-white/80 bg-black/80">
            </div>
            <div
                class="flex m-0 p-0 justify-center md:justify-start w-full overflow-hidden"
            >
                <span
                    class="dark:text-yellow-400 text-yellow-600 font-bold animate-fade-in-up animate-duration-800 animate-delay-250 max-[195px]:text-base text-xl selection:bg-transparent
                    selection:backdrop-blur-3xl selection:text-white/70 text-center md:text-left"
                >
                    {translate.intro.fullstack_web_developer}
                </span>
            </div>
            <div class="flex flex-col w-full text-sm pt-5 pb-3 md:py-3">
                <a
                    href="https://www.linkedin.com/in/yaroslav-klymko-psip"
                    target="_blank"
                    rel="noopener"
                    class="px-3 py-1 dark:bg-gray-800 bg-green-300/50 dark:hover:bg-gray-700 hover:bg-green-300/50 transition-all hover:scale-105 rounded-full shadow-lg shadow-white/20 w-fit md:mx-0 mx-auto dark:text-green-300 text-green-700 border dark:border-transparent border-green-500"
                    aria-label="Enlace a LinkedIn"
                >
                    #OpenToWork
                </a>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center items-center">
        <div
            class="text-white flex max-[400px]:flex-col flex-row w-full justify-center items-center text-center text-3xl"
        >
            <div class="flex flex-row w-fit pb-0 max-[400px]:pb-4">
                <p class="scale-120 text-blue-700">+</p>
                <div
                    class="text-blue-700 scale-170 px-3 font-extrabold rotate-10 animate-swing-drop-in"
                >
                    {new Date().getFullYear() - cfgs_started_at}
                </div>
            </div>
            <div class="flex flex-col px-2">
                <p class="dark:text-yellow-50 text-yellow-500 font-bold uppercase text-2xl">{translate.intro.years_of_experience}</p>
                <span class="dark:text-white/75 text-black/75 text-sm">
                    {translate.intro.work_plus_personal_experience}
                </span>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center items-center py-15">
        <div class="flex flex-col justify-start items-center md:items-start w-full md:w-3xl mx-0 md:mx-auto px-4 md:px-0">
            {/*
            <div class="w-full flex justify-center md:justify-start h-auto md:h-10 items-start flex-row overflow-hidden m-0 p-0">
                <div class="hidden md:flex w-1 h-full animate-h-full bg-white rounded-full mr-2"></div>
                <h2 class="text-white animate-none md:animate-translate-x-delay-500 translate-x-0 invisible text-4xl items-center justify-start flex flex-col md:flex-row font-black tracking-wider text-center md:text-left" id="greetings_iam">
                    <span class="text-white/70 italic">{translate.intro.hello_iam}</span> 
                    <span class="block md:inline-block mt-1.5 md:mt-0 mx-3">
                        {translate.creator_name},
                    </span>
                </h2>
            </div>
            */}
            {/* <div class="flex md:hidden w-1/2 h-0.5 bg-white rounded-full mt-5"></div> */}
            <p class="dark:text-white/70 text-black/70 max-[195px]:text-base text-xl text-center md:text-left mt-20 mb-5 selection:bg-yellow-500 selection:text-black">
                <span class="dark:text-yellow-300 text-yellow-500 font-extrabold">
                    {locale === "en-GB" ? translate.intro.web_applications.charAt(0).toUpperCase() + translate.intro.web_applications.slice(1) : translate.intro.developer}
                    { (locale === "es-ES" || locale === "ca-ES") && (
                        <span class="text-white/70">{locale === "ca-ES" ? 'dels' : 'de'}</span>
                    ) }
                    {locale === "en-GB" ? translate.intro.developer.toLowerCase() : translate.intro.web_applications}
                </span>
                {translate.intro.bioinformatical_profile}
                <span class="dark:text-yellow-100 text-yellow-500 relative before:absolute before:content-[''] before:left-0 before:top-full before:w-0 before:h-px dark:before:bg-yellow-100 before:bg-yellow-500 before:animate-width-to-full">
                    {translate.intro.bioinformatical}
                </span>
                <br>
                {translate.intro.from} 
                <a href="https://maps.app.goo.gl/7TDSxg5tGKfRuGfc6" target="_blank" class="dark:hover:text-white hover:text-black inline-block backdrop-blur-3xl hover:px-2 dark:hover:bg-transparent hover:bg-gray-900/10 hover:scale-105 transition-all mt-1">{translate.cities.psip}</a>, {translate.countries.spain}.
                <br>
            </p>
            <p class="dark:text-white/70 text-black/70 max-[195px]:text-base text-xl text-center md:text-left selection:bg-yellow-500 selection:text-black mt-8 md:mb-0 mb-5 md:mt-0">
                {translate.intro.focused_on} <span class="dark:text-yellow-100 text-yellow-500">{translate.intro.creation}</span>, <span class="dark:text-yellow-100 text-yellow-500">{translate.intro.maintenance}</span> {translate.intro.and} <span class="dark:text-yellow-100 text-yellow-500">{translate.intro.resolution}</span> {translate.intro.of_the} <span class="dark:text-yellow-100 text-yellow-500">{translate.intro.vulnerability}</span> {translate.intro.of_normal} {translate.intro.of_static_and_dynamic_web_pages} <span class="dark:text-yellow-100 text-yellow-500">{translate.intro.statics}</span> {translate.intro.and_normal} <span class="dark:text-yellow-100 text-yellow-500">{translate.intro.dynamics}</span> 
                {translate.intro.websites}
                .
            </p>
            <div class="flex flex-col gap-15 md:gap-3 w-full py-13 md:py-7">
                <div class="flex flex-col w-full gap-7">
                    <div
                        id="frameworks-container" 
                        class="relative w-full flex justify-center md:justify-start items-center flex-wrap flex-row gap-3 overflow-hidden md:overflow-auto max-h-17 md:max-h-full transition-all duration-500"
                    >
                        {
                            FRAMEWORKS.map((framework) => {
                                const { name, animation_delay, img } = framework;
                                return (
                                    <div class="flex flex-row justify-center items-center gap-2 px-5 md:px-4 py-2 md:py-2 rounded-full dark:bg-gray-800 bg-gray-300 animate-fade-in framework-card"
                                        style={`animation-delay: ${animation_delay}ms;`}
                                    >
                                        <img src={img} alt={`Image of ${name}`} class={`size-5 ${name.toLowerCase() === "java" ? '-translate-y-0.75' : ''}`} />
                                        <span class="dark:text-white text-black">
                                            {name}
                                        </span>
                                    </div>
                                )
                            })
                        }

                        <div class="absolute flex md:hidden left-0 -bottom-1 w-full h-10 bg-linear-to-t from-(--primary-color) to-transparent pointer-events-none opacity-100 transition-opacity" id="frameworks-overlay"></div>
                    </div>
                    <div class="w-full flex md:hidden justify-center items-center px-4 py-5">
                        <button
                            id="show-frameworks-more"
                            type="button"
                            class="px-4 py-2 rounded-lg text-black bg-yellow-500 font-extrabold cursor-pointer outline-none border-none"
                            data-showMore={translate.intro.show_more}
                            data-showLess={translate.intro.show_less}
                            aria-label="Boton de mostrar m치s y mostrar menos los frameworks de programaci칩n"
                        >
                            {translate.intro.show_more}
                        </button>
                    </div>
                </div>
                <div class="flex flex-col w-full gap-7 pt-7">
                    <div
                        id="languages-container" 
                        class="relative w-full flex justify-center md:justify-start items-center flex-wrap flex-row gap-3 overflow-hidden md:overflow-auto max-h-15 md:max-h-full transition-all duration-500"
                    >
                        {
                            LANGUAGES.map((language) => {
                                const { name, animation_delay, img } = language;
                                return  (
                                    <div class="flex flex-row justify-center items-center gap-2 px-5 md:px-4 py-2 md:py-2 rounded-full dark:bg-gray-800 bg-gray-300 animate-fade-in language-card"
                                        style={`animation-delay: ${animation_delay}ms;`}
                                    >
                                        <img src={img} alt={`Image of ${name}`} class={`size-5 ${name.toLowerCase() === "java" ? '-translate-y-0.75' : ''}`} />
                                        <span class="dark:text-white text-black">
                                            {name}
                                        </span>
                                    </div>
                                )
                            })
                        }
                        <div class="absolute flex md:hidden left-0 -bottom-1 w-full h-10 bg-linear-to-t from-(--primary-color) to-transparent pointer-events-none opacity-100 transition-opacity" id="languages-overlay"></div>
                    </div>
                    <div class="w-full flex md:hidden justify-center items-center px-4 py-5">
                        <button
                            id="show-languages-more"
                            type="button"
                            class="px-4 py-2 rounded-lg text-black bg-yellow-500 font-extrabold cursor-pointer outline-none border-none"
                            data-showMore={translate.intro.show_more}
                            data-showLess={translate.intro.show_less}
                            aria-label="Boton de mostrar m치s y mostrar menos los lenguajes de programaci칩n"
                        >
                            {translate.intro.show_more}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const $showMorLanguagesBtn = document.getElementById('show-languages-more');
        const $showMorFrameworksBtn = document.getElementById('show-frameworks-more');
        const $framweworksContainer = document.getElementById('frameworks-container');
        const $languagesContainer = document.getElementById('languages-container');
        const $frameworksOverlay = document.getElementById('frameworks-overlay');
        const $languagesOverlay = document.getElementById('languages-overlay');
        const $frameworksCards = $framweworksContainer.querySelectorAll('.framework-card');
        const $languagesCards = $languagesContainer.querySelectorAll('.language-card');

        // FRAMEWORKS
        let frameworksShowed = false;
        $showMorFrameworksBtn?.addEventListener('click', function() {
            let num_first_frameworks = setFirstFrameworks();
            frameworksShowed = !frameworksShowed
            
            if(frameworksShowed) {
                $frameworksOverlay.classList.remove('opacity-100');
                $frameworksOverlay.classList.add('opacity-0');
                $framweworksContainer?.classList.remove('max-h-17');
                $framweworksContainer?.classList.add('max-h-100');
                $showMorFrameworksBtn.innerHTML = $showMorFrameworksBtn.getAttribute('data-showLess');
                $frameworksCards.forEach((card, index) => {
                    if(index >= num_first_frameworks){
                        card.classList.remove('animate-fade-in');
                        void card.offsetWidth;
                        card.classList.add('animate-fade-in');
                    }
                });
            } else {
                $framweworksContainer?.classList.remove('max-h-100');
                $framweworksContainer?.classList.add('max-h-17');
                setTimeout(function() {
                    $frameworksOverlay.classList.remove('opacity-0');
                    $frameworksOverlay.classList.add('opacity-100');
                    $showMorFrameworksBtn.innerHTML = $showMorFrameworksBtn.getAttribute('data-showMore');
                }, 150);
            }
        });


        // PROGRAMMING LANGUAGES
        let languagesShowed = false;
        $showMorLanguagesBtn?.addEventListener('click', function() {
            let num_first_languages = setFirstLanguages();
            languagesShowed = !languagesShowed
            
            if(languagesShowed) {
                $languagesOverlay.classList.remove('opacity-100');
                $languagesOverlay.classList.add('opacity-0');
                $languagesContainer?.classList.remove('max-h-15');
                $languagesContainer?.classList.add('max-h-100');
                $showMorLanguagesBtn.innerHTML = $showMorLanguagesBtn.getAttribute('data-showLess');
                $languagesCards.forEach((card, index) => {
                    if(index >= num_first_languages){
                        card.classList.remove('animate-fade-in');
                        void card.offsetWidth;
                        card.classList.add('animate-fade-in');
                    }
                });
            } else {
                $languagesContainer?.classList.remove('max-h-100');
                $languagesContainer?.classList.add('max-h-15');
                setTimeout(function() {
                    $languagesOverlay.classList.remove('opacity-0');
                    $languagesOverlay.classList.add('opacity-100');
                    $showMorLanguagesBtn.innerHTML = $showMorLanguagesBtn.getAttribute('data-showMore');
                }, 150);
            }
        });


        function setFirstFrameworks() {
            if(window.innerWidth > 286 && window.innerWidth <= 419) return 2;
            if(window.innerWidth > 419 && window.innerWidth <= 553) return 3;
            if(window.innerWidth > 553 && window.innerWidth <= 672) return 4; 
            if(window.innerWidth > 672) return 5; 

            return 1;
        }

        function setFirstLanguages() {
            if(window.innerWidth > 246 && window.innerWidth <= 406) return 2;
            if(window.innerWidth > 406 && window.innerWidth <= 567) return 3;
            if(window.innerWidth > 567 && window.innerWidth <= 682) return 4;
            if(window.innerWidth > 682) return 5;

            return 1;
        }
    });
</script>