---
import calculatorImg from '../../public/projects/calculator.png';
import tetrisImg from '../../public/projects/tetris.png';

const { creador, translate, locale } = Astro.props;

const PROJECTS = {
    calculator: {
      id: 'calculator',
      name: translate.projects.calculator.name,
      url: `https://calculator-yarosprojects.vercel.app`,
      image: calculatorImg.src,
      code_link: 'https://github.com/yarosprojects/calculator-yarosprojects',
      description: [
        translate.projects.calculator.paragraph_1,
        translate.projects.calculator.paragraph_2,
      ],

      frameworks: {
        angular: {
            id: 'angular-framework',
            name: 'Angular',
            image: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg',
            mainColor: 'bg-angular',
        },
        typescript: {
            id: 'typescript-framework',
            name: 'TypeScript',
            image: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg',
            mainColor: 'bg-typescript',
        },
        tailwind: {
            id: 'tailwindcss-framework',
            name: 'TailwindCSS',
            image: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg',
            mainColor: 'bg-tailwindcss',
        },
      }
    },
    tetris: {
      id: 'tetris',
      name: translate.projects.tetris.name,
      url: `https://tetris-yarosprojects.vercel.app`,
      image: tetrisImg.src,
      code_link: 'https://github.com/yarosprojects/tetris-yarosprojects',
      description: [
        translate.projects.tetris.paragraph_1,
        translate.projects.tetris.paragraph_2,
      ],
      frameworks: {
        angular: {
            id: 'svelte-framework',
            name: 'Svelte',
            image: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg',
            mainColor: 'bg-svelte',
        },
        typescript: {
            id: 'typescript-framework',
            name: 'TypeScript',
            image: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg',
            mainColor: 'bg-typescript',
        },
        tailwind: {
            id: 'tailwindcss-framework',
            name: 'TailwindCSS',
            image: 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg',
            mainColor: 'bg-tailwindcss',
        },
      }
    },
}
---
<div class="pt-(--header-h) w-full flex justify-center items-center px-2 md:px-0">
    <div class="w-full max-[235px]:flex-col md:max-w-3xl mx-0 md:mx-auto flex justify-start max-[235px]:items-start items-center flex-row gap-4">
        <i class="icon-[gridicons--code] max-[235px]:text-xl text-3xl dark:text-white/80 text-black/80" />
        <h1 class="text-center max-[235px]:text-2xl text-4xl dark:text-white text-black font-bold">{translate.nav.projects}</h1>
    </div>
</div>
<div class="flex w-full flex-col px-2 md:px-0">
    <div class="w-full md:max-w-3xl mx-0 md:mx-auto flex flex-col gap-25 md:gap-15 justify-center items-start my-10 rounded-2xl overflow-hidden" id="projects-container">
        {
            Object.values(PROJECTS).map((project) => {
                const { name, url, image, code_link, frameworks } = project;
                return(
                    <div class="flex flex-col md:flex-row gap-6 md:gap-0 justify-between items-start group w-full opacity-0 project-card">
                        <div class="m-0 p-0 overflow-hidden rounded-2xl border border-gray-300 dark:border-gray-800 dark:group-hover:border-gray-700 group-hover:border-gray-900 transition-all">
                            <img 
                                src={image} 
                                alt={`${project} image`} 
                                class="w-auto h-full object-cover transition-transform duration-300 scale-110 group-hover:scale-100" 
                            />
                        </div>
                        <div class="flex flex-col justify-start items-start md:items-center px-1 md:px-4 w-full md:min-w-[400px] h-full opacity-0 project-description">
                            <div class="flex flex-1 flex-col justify-start items-start">
                                <h3 class="dark:text-yellow-400 text-yellow-600 text-3xl max-[250px]:text-xl max-[170px]:text-base font-extrabold uppercase">{name}</h3>
                                <ul class="flex w-full flex-row flex-wrap justify-start items-center my-2 gap-2">
                                    { frameworks &&
                                        Object.values(frameworks).map((framework) => {
                                            const { name, image, mainColor } = framework;

                                            return(
                                                <li class={`rounded-full px-2 py-1 ${mainColor} flex justify-center items-center gap-2`}>
                                                    <img src={image} alt={`${name} frameworks image`} class="size-4" />
                                                    <span class="text-white text-base max-[250px]:text-sm md:text-[13px]">
                                                        {name}
                                                    </span>
                                                </li>
                                            );
                                        })
                                    }
                                </ul>
                                <div class="text-white/85 text-base selection:text-black selection:bg-yellow-400 mt-10 md:mt-5">
                                    {project.description.map(line => (
                                        <p class="mt-2 dark:text-white text-black">{line}</p>
                                    ))}
                                </div>
                            </div>
                            <div class={`flex w-full flex-row ${locale === "ua-UK" ? 'max-[360px]:flex-col justify-start max-[360px]:items-start' : 'max-[250px]:flex-col justify-start max-[240px]:items-start'} items-center my-3 gap-2`}>
                                <a href={code_link} target="_blank" class="text-white dark:hover:bg-gray-900/50 hover:bg-gray-200 transition-all px-3 py-2 rounded-xl flex justify-center gap-2 items-center dark:bg-gray-900 bg-gray-100 border dark:border-white/30 dark:hover:border-white/40 hover:border-black/50 border-black/30 dark:drop-shadow-none drop-shadow-md drop-shadow-black/10 group">
                                    <i class="icon-[line-md--github] dark:group-hover:brightness-125 group-hover:brightness-90 dark:text-white text-black" />
                                    <span class="dark:text-white text-black max-[240px]:text-sm text-base">{translate.projects.code_btn}</span>
                                </a>
                                <a href={url} class="text-white dark:hover:bg-gray-900/50 hover:bg-gray-200 transition-all px-3 py-2 rounded-xl flex justify-center gap-2 items-center dark:bg-gray-900 bg-gray-100 border dark:border-white/30 dark:hover:border-white/40 hover:border-black/50 border-black/30 dark:drop-shadow-none drop-shadow-md drop-shadow-black/10 group">
                                    <i class="icon-[line-md--link] dark:group-hover:brightness-125 group-hover:brightness-90 dark:text-white text-black" />
                                    <span class="dark:text-white text-black max-[240px]:text-sm text-base">{translate.projects.preview}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                );
            })
        }
    </div>
</div>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const $project_cards = document.getElementById('projects-container').querySelectorAll('.project-card');
        
        const observer = new IntersectionObserver((entries, observe) => {
            entries.forEach((entry) => {
                if(entry.isIntersecting) {
                    entry.target.classList.add('animate-fade-in-up');
                    entry.target.querySelector('.project-description').classList.add('animate-fade-in-left');
                    observe.unobserve(entry.target);
                }
            });
        }, {threshold: 0.1});

        $project_cards.forEach(card => observer.observe(card));
    });
</script>