---
const { creador, translate, locale } = Astro.props;

const EXPERIENCES = [
    {
        id: 'angular',
        company: "Diputació de Barcelona",
        role: translate.trajectory.experiences['angular'].role,
        start: `${translate.months.june.slice(0, 3)} 2023`,
        end: `${translate.months.may.slice(0, 3)} 2024`,
        description: translate.trajectory.experiences['angular'].description,
    },
    {
        id: 'peon',
        company: "Espais i Negocis S.L.",
        role: translate.trajectory.experiences['peon'].role,
        start: `${translate.months.june.slice(0, 3)} 2024`,
        end: `${translate.months.august.slice(0, 3)} 2024`,
        description: translate.trajectory.experiences['peon'].description,
    },
    {
        id: 'peon-administrativo',
        company: "Jose Fusté S.A.",
        role: translate.trajectory.experiences['peon-administrativo'].role,
        start: `${translate.months.september.slice(0, 3)} 2024`,
        end: translate.trajectory.actually,
        description: translate.trajectory.experiences['peon-administrativo'].description,
    },
];
---

<div class="flex w-full flex-col pt-(--header-h)">
    <div class="w-full flex justify-center items-center mb-10">
        <div class="flex w-full flex-col justify-center items-center">
            <h1 class="text-center max-[235px]:text-2xl text-4xl dark:text-white text-black font-extrabold">
                {translate.trajectory.title}
            </h1>
            <span class="dark:text-white/80 text-black/80 text-sm mt-2">
                {translate.work_experience}
            </span>
        </div>
    </div>

    <div class="relative w-full max-w-3xl mx-auto py-10">
        <div
            class="max-[180px]:hidden absolute left-0 ml-2 md:ml-0 md:left-1/2 top-0 translate-x-0 md:-translate-x-1/2 w-0.5 dark:bg-gray-700 bg-gray-300 rounded-full"
            id="timeline-line"
        >
        </div>
        {
            EXPERIENCES.map((experience, index) => {
                const { company, role, start, end, description } = experience;

                return (
                    <section
                        class={`mb-12 flex w-full items-center max-[180px]:pl-2 pl-5 md:pl-0 ${
                            index % 2 === 0 ? "justify-start" : "justify-start md:justify-end"
                        }`}
                    >
                        <div class="relative w-full md:w-1/2">
                            <div
                                class={`max-[180px]:hidden absolute ${
                                    index % 2 === 0
                                        ? "-left-4 md:left-auto -translate-x-0.75 md:translate-x-0 top-6 md:top-5 md:-right-2"
                                        : "-left-4 -translate-x-0.75 md:translate-x-0 top-6 md:top-5 md:-left-2"
                                } w-4 h-4 dark:bg-blue-500 bg-blue-300 rounded-full border-4 dark:border-gray-900 border-gray-200 z-10 flex`}
                            />

                            <div
                                class={`bg-transparent dark:md:bg-gray-800 md:bg-gray-100 drop-shadow-md drop-shadow-black/10 rounded-2xl shadow-lg max-[180px]:p-0 p-5 experience-card opacity-0 w-full md:w-fit
                                ${
                                    index % 2 === 0
                                        ? "ml-0 mr-0 md:ml-auto md:mr-8"
                                        : "ml-0 mr-0 md:mr-auto md:ml-8"
                                }`}
                            >
                                <div class="w-full flex flex-col">
                                    <h3 class="text-xl max-[170px]:text-base font-bold dark:text-white text-black/80">
                                        {role}
                                    </h3>
                                    <p class="dark:text-blue-400 text-blue-700 max-[170px]:text-[12px] font-semibold">
                                        {company}
                                    </p>
                                    <p class="text-sm dark:text-gray-400 text-gray-500">
                                        {start} – {end}
                                    </p>
                                    <p class="dark:text-gray-300 text-gray-800 mt-2 text-ellipsis">{description}</p>
                                </div>
                            </div>
                        </div>
                    </section>
                );
            })
        }
    </div>
</div>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const $timeline_line = document.getElementById('timeline-line');
        const $experiences_cards = document.querySelectorAll('.experience-card');

        observar($timeline_line, 'animate-h-full');
        
        $experiences_cards.forEach((experienceCard) => {
            observar(experienceCard, 'animate-fade-in');
        });

        function observar(element, className) {
            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach((entry) => {
                    if(entry.isIntersecting) {
                        let element = entry.target;
                        element.classList.add(className);

                        observer.unobserve(entry.target);
                    } 
                });
            }, { threshold: 0.1 });

            observer.observe(element);
        }
    });
</script>