---
import "@styles/global.css";
import "/node_modules/flag-icons/css/flag-icons.min.css";
import Header from '@src/components/Header.astro';
import Footer from "@src/components/Footer.astro";
import type { Language } from "../types/language.type";
import Analytics from '@vercel/analytics/astro';
import { preview } from "astro";

const locale = Astro.params.locale as Language;
const { title } = Astro.props;
const previewImage = new URL('/img/preview.png', Astro.site).href;
---

<!doctype html>
<html lang={`${locale || "es-ES"}`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/yk_round.ico" />
		<meta name="description" content="My personal web page where I store and showcase all the projects I've built — web apps, experiments, and creative ideas." />
		<meta name="keywords" content="Yaros, Yaros projects, Yaros proyectos, portfolio, portfolio Yaroslav Klymko, portfolio Yaros projects, web development, projects, frontend, Yaroslav Klymko desarollador web, Yaroslav Klymko web developer" />
		<meta name="author" content="Yaroslav Klymko" />
		<meta property="og:title" content="Yaros (Yaroslav Klymko) | Personal Projects" />
		<meta property="og:description" content="Explore my personal projects, web experiments, and creative builds. Yaroslav Klymko projects" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://yarosprojects.github.io/es-ES/" />
		<meta property="og:image" content={previewImage} />
		<meta property="og:image:alt" content="Preview of Yaros' (Yaroslav Klymko) personal projects site" />
		<meta property="og:site_name" content="Yaros (Yaroslav Klymko) Projects" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Yaros (Yaroslav Klymko) | Personal Projects" />
		<meta name="twitter:description" content="Explore my web projects and creative experiments. | Yaros (Yaroslav Klymko) projects" />
		<meta name="twitter:image" content={previewImage} />
		<!-- <meta name="twitter:creator" content="@tu_usuario_twitter" /> I don't have twitter (X) account -->
		<link rel="canonical" href="https://yarosprojects.github.io/es-ES/" />

		<title>{title}</title>

		<Analytics />
	</head>
	<body class="bg-slate-50 dark:bg-slate-950 relative">
		<div class="fixed top-0 left-0 w-0 dark:bg-yellow-500 bg-yellow-600 dark:h-0.5 h-1 z-9998 transition-[width] duration-200 ease-linear" id="web-progress"></div>
		
		<Header />
		<slot />
		<Footer />

		<button class="fixed outline-none border-none right-6 bottom-10 flex justify-center items-center m-0 rounded-full dark:bg-gray-800 shadow-lg bg-gray-100 dark:drop-shadow-white/20 active:scale-90 drop-shadow-md drop-shadow-black/50 p-1 select-none hover:scale-115 transition-all z-9999 cursor-pointer pointer-events-none opacity-0" aria-label="Botón de desplazamiento para arriba" id="scrollTopBtn">
			<div class="flex justify-center items-center size-8">
				<span class="icon-[material-symbols--arrow-upward-rounded] text-xl font-extrabold dark:text-yellow-400 text-black"></span>
			</div>
		</button>
	</body>
</html>

<script is:inline>
	document.addEventListener('DOMContentLoaded', function() {
		const $web_progress = document.getElementById('web-progress');
		const navButtons = document.querySelectorAll('#nav ul li button');
		const sectionsWrapper = document.getElementById('sections-wrapper');
		const sections = sectionsWrapper ? Array.from(sectionsWrapper.children).filter(sec => !sec.hasAttribute('data-skip-nav')) : [];
		const $scrollTopBtn = document.getElementById('scrollTopBtn');
		const $locales_btn = document.getElementById('locales-btn');
		const $theme_btn = document.getElementById('theme-swithcer');
        const $locales_menu = document.getElementById('locales-menu');
		const $theme_menu = document.getElementById('themes-menu');
		const $responsive_nav = document.getElementById('responsive-nav');
		const $hamburger_btn = document.getElementById('hamburger');
		const $responsive_nav_items = document.querySelectorAll('#responsive-nav ul li button');
		const $footer_links = document.querySelectorAll('#footer-links button');

		let hamburgerClicked = false;
		let locales_opened = false;
		let themes_opened = false;
		let savedTheme = localStorage.getItem('theme') || 'dark';
		applyTheme(savedTheme);

		if (savedTheme === 'system') {
			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				applyTheme('system');
			});
		}

		hamburgerOnClick();
		checkResponsiveNavAvailability()
        window.addEventListener('resize', hamburgerOnClick);
        window.addEventListener('resize', navCheckIfHidden);
		window.addEventListener('resize', checkResponsiveNavAvailability);

		checkActiveSection(window.scrollY);
		window.addEventListener('scroll', () => checkActiveSection(window.scrollY));

		navButtons.forEach((btn, index) => {
			btn.addEventListener('click', () => {
				const section = sections[index];
				if (section) {
					section.scrollIntoView({ behavior: 'smooth', block: 'start' });
				}
			});
		});

		$responsive_nav_items.forEach((responsive_btn, index) => {
			responsive_btn.addEventListener('click', () => {
				const section = sections[index];
				if(section) {
					section.scrollIntoView({ behavior: 'smooth', block: 'start' });
					hamburgerClicked = false;
                    if(!$responsive_nav.classList.contains('hidden')) $responsive_nav.classList.add('hidden');
                    if($responsive_nav.classList.contains('animate-fade-in-down')) $responsive_nav.classList.remove('animate-fade-in-down');
					if($hamburger_btn.classList.contains('bg-gray-300/60', 'dark:bg-gray-800/60')) $hamburger_btn.classList.remove('bg-gray-300/60', 'dark:bg-gray-800/60');
				}
			});
		});

		$footer_links.forEach((footer_link, index) => {
			footer_link.addEventListener('click', function() {
				const section = sections[index];
				if(section) {
					section.scrollIntoView({ behavior: 'smooth', block: 'start' });
				}
			});
		});


		// SCROLL TOP BUTTON ON CLICK
		$scrollTopBtn.addEventListener('click', function() {
			window.scrollTo({
				top: 0,
				behavior: 'smooth'
			});
		});


		// SCROLL BAR
		window.addEventListener('scroll', () => {
			const scrollTop = window.scrollY;
			const docHeight = document.body.scrollHeight - window.innerHeight;
			const scrollPercent = (scrollTop / docHeight) * 100;

			$web_progress.style.width = `${scrollPercent}%`;
		});

		// SCROLL TOP BUTTON SHOW
		let lastScroll = 0;
		window.addEventListener('scroll', function() {
			const max = 400;
			const currentScroll = window.scrollY;
			
			if(currentScroll > lastScroll && currentScroll > max) {
				$scrollTopBtn.classList.remove('pointer-events-none');
				$scrollTopBtn.classList.remove('opacity-0');
			} else {
				if(currentScroll < lastScroll && currentScroll <= max) {
					$scrollTopBtn.classList.add('pointer-events-none');
					$scrollTopBtn.classList.add('opacity-0');
				}
			}

			lastScroll = currentScroll;
		});

		// HAMBURGER BUTTON CLICK EVENT
		$hamburger_btn.addEventListener('click', function(event) {
            event.stopPropagation();
            hamburgerClicked = !hamburgerClicked;

			setMenuMargin(locales_opened, $locales_menu);
			setMenuMargin(themes_opened, $theme_menu);
            if(hamburgerClicked) {
                locales_opened = false;
				themes_opened = false;
                $responsive_nav.classList.remove('hidden');
                $responsive_nav.classList.add('animate-fade-in-down');
                if(!$hamburger_btn.classList.contains('bg-gray-300/60', 'dark:bg-gray-800/60')) $hamburger_btn.classList.add('bg-gray-300/60', 'dark:bg-gray-800/60');
				if($theme_btn.classList.contains('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white')) $theme_btn.classList.remove('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white');
				if(!$theme_btn.classList.contains('text-black/80', 'dark:text-white/80')) $theme_btn.classList.add('text-black/80', 'dark:text-white/80');
                $locales_menu.classList.remove('mt-3', 'mt-1');

				if($locales_btn.classList.contains('dark:bg-gray-800', 'bg-gray-300')) {
					$locales_btn.classList.remove('dark:bg-gray-800', 'bg-gray-300');
					if(window.innerWidth > 768) setLocalesBtnBg();
				}
                $locales_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');
                $locales_menu.classList.add('hidden');
				$theme_menu.setAttribute('aria-hidden', true);
				$locales_menu.setAttribute('aria-hidden', true);
				$responsive_nav.setAttribute('aria-hidden', false);
				$theme_menu.classList.remove('mt-3', 'mt-1');
                $theme_menu.classList.remove('dark:bg-gray-800/60');
                $theme_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');
                $theme_menu.classList.add('hidden');
            } else {
                $responsive_nav.classList.add('hidden');
                $responsive_nav.classList.remove('animate-fade-in-down');
                if($hamburger_btn.classList.contains('bg-gray-300/60', 'dark:bg-gray-800/60')) $hamburger_btn.classList.remove('bg-gray-300/60', 'dark:bg-gray-800/60');
				$responsive_nav.setAttribute('aria-hidden', true);
            }
        });

        document.addEventListener('click', function(event) {
            if(hamburgerClicked) {
                if (!event.composedPath().includes($responsive_nav) &&
                    !event.composedPath().includes($hamburger_btn)) {
                    hamburgerClicked = false;
                    $responsive_nav.classList.add('hidden');
                    $responsive_nav.classList.remove('animate-fade-in-down');
                    if($hamburger_btn.classList.contains('bg-gray-300/60', 'dark:bg-gray-800/60')) $hamburger_btn.classList.remove('bg-gray-300/60', 'dark:bg-gray-800/60');
					$responsive_nav.setAttribute('aria-hidden', true);
                }
            }
        });

		if(window.innerWidth >= 768) setLocalesBtnBg();
        window.addEventListener('scroll', function() {
            if(window.innerWidth >= 768) setLocalesBtnBg();
        });
        window.addEventListener('resize', function() { 
            setLocalesBtnBg();
        });
        
        $locales_btn.addEventListener('click', function(e) {
            e.stopPropagation();
            locales_opened = !locales_opened;
            
            setMenuMargin(locales_opened, $locales_menu);
            if(locales_opened) {
                const scrollY = window.scrollY;
                hamburgerClicked = false;
				themes_opened = false;
                if(!$responsive_nav.classList.contains('hidden')) $responsive_nav.classList.add('hidden');
				if($responsive_nav.classList.contains('animate-fade-in-down')) $responsive_nav.classList.remove('animate-fade-in-down');
				if($hamburger_btn.classList.contains('bg-gray-300/60', 'dark:bg-gray-800/60')) $hamburger_btn.classList.remove('bg-gray-300/60', 'dark:bg-gray-800/60');
				if(!$theme_menu.classList.contains('hidden')) $theme_menu.classList.add('hidden');
				if($theme_btn.classList.contains('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white')) $theme_btn.classList.remove('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white');
				if(!$theme_btn.classList.contains('text-black/80', 'dark:text-white/80')) $theme_btn.classList.add('text-black/80', 'dark:text-white/80');
				$locales_menu.setAttribute('aria-hidden', false);
				$theme_menu.setAttribute('aria-hidden', true);
				$responsive_nav.setAttribute('aria-hidden', true);
                $locales_menu.classList.add(scrollY > 250 ? 'mt-3' : 'mt-1');
				if($locales_btn.classList.contains('bg-gray-300/50', 'dark:bg-gray-800/60')) $locales_btn.classList.remove('bg-gray-300/50', 'dark:bg-gray-800/60');
                $locales_btn.classList.add('dark:bg-gray-800', 'bg-gray-300');
                $locales_menu.classList.remove('hidden');
                $locales_menu.classList.add('animate-fade-in-down', 'animate-duration-300');
            } else {
                $locales_menu.classList.remove('mt-3', 'mt-1');
                $locales_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');
                $locales_menu.classList.add('hidden');
				$locales_menu.setAttribute('aria-hidden', true);
				if($locales_btn.classList.contains('dark:bg-gray-800', 'bg-gray-300')) {
					$locales_btn.classList.remove('dark:bg-gray-800', 'bg-gray-300');
					if(window.innerWidth > 768) setLocalesBtnBg();
				}
            }
        });

		$theme_btn.addEventListener('click', function(e) {
			e.stopPropagation();
			themes_opened = !themes_opened;

			setMenuMargin(themes_opened, $theme_menu);
			if(themes_opened) {
				const scrollY = window.scrollY;
				hamburgerClicked = false;
				locales_opened = false;
				if(!$responsive_nav.classList.contains('hidden')) $responsive_nav.classList.add('hidden');
				if($responsive_nav.classList.contains('animate-fade-in-down')) $responsive_nav.classList.remove('animate-fade-in-down');
				if($hamburger_btn.classList.contains('bg-gray-300/60', 'dark:bg-gray-800/60')) $hamburger_btn.classList.remove('bg-gray-300/60', 'dark:bg-gray-800/60');
				if(!$locales_menu.classList.contains('hidden')) $locales_menu.classList.add('hidden');
				if($locales_menu.classList.contains('animate-fade-in-down', 'animate-duration-100')) $locales_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');

				if($locales_btn.classList.contains('dark:bg-gray-800', 'bg-gray-300')) {
					$locales_btn.classList.remove('dark:bg-gray-800', 'bg-gray-300');
					if(window.innerWidth > 768) setLocalesBtnBg();
				}
				$theme_menu.classList.add(scrollY > 250 ? 'mt-3' : 'mt-1');
				$theme_btn.classList.add('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white');
				$theme_menu.classList.remove('hidden');
				$theme_menu.classList.add('animate-fade-in-down', 'animate-duration-100');
				$theme_menu.setAttribute('aria-hidden', false);
				$locales_menu.setAttribute('aria-hidden', true);
				$responsive_nav.setAttribute('aria-hidden', true);
			} else {
				$theme_menu.classList.remove('mt-3', 'mt-1');
				$theme_btn.classList.remove('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white');
				$theme_btn.classList.add('text-black/80', 'dark:text-white/80');
                $theme_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');
                $theme_menu.classList.add('hidden');
				$theme_menu.setAttribute('aria-hidden', true);
			}
		});

        document.addEventListener('click', function(e) {
            if (
                locales_opened &&
                !$locales_menu.contains(e.target) &&
                e.target !== $locales_btn
            ) {
                locales_opened = false;
                $locales_menu.classList.remove('mt-3', 'mt-1');
                $locales_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');
                $locales_menu.classList.add('hidden');
				$locales_menu.setAttribute('aria-hidden', true);
				if($locales_btn.classList.contains('dark:bg-gray-800', 'bg-gray-300')) {
					$locales_btn.classList.remove('dark:bg-gray-800', 'bg-gray-300');
					if(window.innerWidth > 768) setLocalesBtnBg();
				}
            }
        });

		document.addEventListener('click', function(e) {
            if (
                themes_opened &&
                !$theme_menu.contains(e.target) &&
                e.target !== $theme_btn
            ) {
                themes_opened = false;
                $theme_menu.classList.remove('mt-3', 'mt-1');
				$theme_btn.classList.remove('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white');
				$theme_btn.classList.add('text-black/80', 'dark:text-white/80');
                $theme_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');
                $theme_menu.classList.add('hidden');
				$theme_menu.setAttribute('aria-hidden', true);
            }
        });


		// THEME CHOICE
		document.querySelectorAll('[data-themeChoice]').forEach(el => {
            el.addEventListener('click', () => {
                const chosenTheme = el.getAttribute('data-themeChoice');
                localStorage.setItem('theme', chosenTheme);
                applyTheme(chosenTheme);
            });
        });

		function checkResponsiveNavAvailability() {
			if(window.innerWidth >= 420) {
				if(!$responsive_nav.classList.contains('hidden')) $responsive_nav.classList.add('hidden');
				$responsive_nav.classList.remove('animate-fade-in-down');
				hamburgerClicked = false;
				if($hamburger_btn.classList.contains('bg-gray-900')) $hamburger_btn.classList.remove('bg-gray-900');
				$responsive_nav.setAttribute('aria-hidden', true);
			}
		}

        function setLocalesBtnBg() {
            if(window.scrollY > 50) {
				$locales_btn.classList.remove('dark:bg-gray-800/60', 'dark:bg-gray-800', 'bg-gray-300/50');
            } else {
                if(locales_opened) {
					$locales_btn.classList.add('dark:bg-gray-800', 'bg-gray-300');
				} else {
					if(window.innerWidth > 768) {
						$locales_btn.classList.add('dark:bg-gray-800/60', 'bg-gray-300/50')
					} else {
						$locales_btn.classList.remove('dark:bg-gray-800/60', 'bg-gray-300/50')
					}
				}
            }
        }

		// SET MARGIN OF ELEMENT MENU
        function setMenuMargin(menuIsOpen, el) {
            if(menuIsOpen) {
                let lastScroll = 0
                window.addEventListener('scroll', function() {
                    const currentScroll = window.scrollY;
                    if(currentScroll > lastScroll && currentScroll > 50) {
                        el.classList.remove('mt-1');
                        el.classList.add('mt-3');
                    } else {
                        el.classList.remove('mt-3');
                        el.classList.add('mt-1');
                    }
                });
            }
        }

		// CHECK ACTIVE SECTION
		function checkActiveSection(scrollY = window.scrollY) {
			const scrollPos = scrollY + window.innerHeight / 4;
			let activeFound = false;

			sections.forEach((section, index) => {
				const top = section.offsetTop;
				const bottom = top + section.offsetHeight;

				if (scrollPos >= top && scrollPos < bottom) {
					navButtons.forEach((item) => {
						item.classList.remove('dark:text-blue-500', 'text-blue-700');
						item.classList.add('dark:text-white', 'text-black');
					});
					navButtons[index].classList.remove('dark:text-white', 'text-black');
					navButtons[index].classList.add('dark:text-blue-500', 'text-blue-700');
					$responsive_nav_items.forEach((item) => {
						item.classList.remove('dark:text-blue-500', 'text-blue-700');
						item.classList.add('dark:text-white', 'text-black');
					});
					$responsive_nav_items[index].classList.remove('dark:text-white', 'text-black');
					$responsive_nav_items[index].classList.add('dark:text-blue-500', 'text-blue-700');
					activeFound = true;
				}
			});

			if (!activeFound) {
				navButtons.forEach((item) => {
					item.classList.remove('dark:text-blue-500', 'text-blue-700');
					item.classList.add('dark:text-white', 'text-black');
				});
				$responsive_nav_items.forEach((item) => {
					item.classList.remove('dark:text-blue-500', 'text-blue-700');
					item.classList.add('dark:text-white', 'text-black');
				});
			}
		}

		function hamburgerOnClick() {
            if(window.innerWidth < 420) {
                $hamburger_btn.setAttribute('aria-hidden', false);
            } else {
                $hamburger_btn.setAttribute('aria-hidden', true);
            }
        }

		function navCheckIfHidden() {
            const $nav = document.querySelector('#nav');
            if(window.innerWidth < 420) {
                $nav.setAttribute('aria-hidden', true);
            } else {
                $nav.setAttribute('aria-hidden', false);
            }
        }

		// APPLY THEME ON CHOOSE
		function applyTheme(theme) {
			const html = document.documentElement;
			setThemeIcon(theme);
			setActiveTheme(theme);
			checkActiveSection();
			if (theme === 'dark') {
				html.classList.add('dark');
			} else if (theme === 'light') {
				html.classList.remove('dark');
			} else { // system
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					html.classList.add('dark');
				} else {
					html.classList.remove('dark');
				}
			}

			// Cerrar menú de temas
			themes_opened = false;
			$theme_menu.classList.remove('mt-3', 'mt-1');
			$theme_btn.classList.remove('dark:bg-gray-800/60', 'bg-gray-300', 'text-black', 'dark:text-white');
			$theme_btn.classList.add('text-black/80', 'dark:text-white/80');
			$theme_menu.classList.remove('animate-fade-in-down', 'animate-duration-100');
			$theme_menu.classList.add('hidden');
			$theme_menu.setAttribute('aria-hidden', true);
		}

		// SET THEME ICON ON CHOOSE THEME
		function setThemeIcon(theme) {
			const icon = document.getElementById('theme-icon');
			icon.classList.remove('icon-[carbon--light]', 'icon-[material-symbols--dark-mode-outline-rounded]', 'icon-[ion--md-desktop]');

			if (theme === 'dark') {
				icon.classList.add('icon-[material-symbols--dark-mode-outline-rounded]');
			} else if (theme === 'light') {
				icon.classList.add('icon-[carbon--light]');
			} else { // system
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					icon.classList.add('icon-[ion--md-desktop]');
				} else {
					icon.classList.add('icon-[ion--md-desktop]');
				}
			}
		}

		function setActiveTheme(theme) {
			const tema = document.querySelector(`[data-themechoice=${theme}]`);
			document.querySelectorAll('[data-themechoice]').forEach(tema => {
				tema.classList.remove('dark:bg-gray-800', 'bg-gray-300');
			});
			tema.classList.add('dark:bg-gray-800', 'bg-gray-300');
		}
	});
</script>

<style is:global>
	:root {
		color-scheme: light dark;
		--nav-color: rgb(20, 26, 49);
		--drawBg: rgba(231, 231, 231, 0.5);
		--nav-border-color: transparent;
		--nav-shadow: 
			0px 5px 50px -5px rgba(0, 0, 0, 0.1),
			0px 0px 0 1px rgba(0, 0, 0, 0.3);
	}


	html.dark {
		--drawBg: rgb(20, 26, 49);
		--nav-border-color: rgb(255, 255, 255, .2);
		--nav-shadow: none;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}


	html.dark ::-webkit-scrollbar {
		width: 5px;
	}

	html ::-webkit-scrollbar {
		width: 6px;
	}

	html.dark ::-webkit-scrollbar-thumb {
		background-color: rgb(216, 216, 2);
	}

	html ::-webkit-scrollbar-thumb {
		background-color: rgb(163, 163, 1);
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
	}

	::-webkit-scrollbar-button {
		background: transparent;
		height: 10px;
		width: 8px;
	}

	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: "font-lg", "font-md", system-ui, sans-serif;
		overscroll-behavior: none;
		min-height: 100vh;
	}
</style>
